
<aside >

    <div id="nav_menu">
        <div id="div_foto">

        </div>
        <p>Ercilio Marques Manhi&ccedil;a</p>

        <hr>

        <div id="menu">

            <a id="perfil" ><i class="material-icons md-18">person_outline</i> Perfil</a>

            <a id="skills"><i class="material-icons md-18">content_paste</i> Skills</a>

            <a id="experiencia"><i class="material-icons md-18">storage</i> Experiencia</a>

            <a id="multimidia"><i class="material-icons md-18">perm_media</i> Multim&iacute;dia</a>

            <a id="contacto" ><i class="material-icons md-18">contacts</i> Contacto</a>



        </div >



        <div id="midias_sociais">

            <div class="midias_socias_div" id="tt"><a><i class="fa fa-twitter"></i></a></div>
            <div class="midias_socias_div" id="fb"><a href="https://www.facebook.com/erciliomarques.manhica"><i class="fa fa-facebook-square"></i></a></div>
            <div class="midias_socias_div" id="ln"><a><i class="fa fa-linkedin-square"></i></a></div>
            <div class="midias_socias_div" id="gl"><a><i class="fa fa-google-plus-square"></i></a></div>
            <div class="midias_socias_div" id="it"><a><i class="fa fa-instagram" ></i></a></div>

        </div>

        <hr>

        <span>&copy 2017 By Mars</span>
    </div>

</aside>

<section id="conteudo">


</section>


























